In [656]:
import numpy as np
import pandas as pd
import random

In [657]:
!pip3 install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.1.0)

In [658]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [659]:
train_data.shape

(8693, 14)

In [660]:
test_data.shape

(4277, 13)

In [661]:
test_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

In [662]:
train_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [663]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [664]:
test_data.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [665]:
X = train_data.drop(['Transported'], axis=1)
y = train_data.Transported

In [666]:
def data_function(param_1,param_2,data_file_name):
  data_file_name[param_1] = data_file_name[param_2].map(lambda x: int(x.split('_')[0]))

def data_function_cabin(param_name,data_file_name):
  data_file_name['deck'] = data_file_name[param_name].map(lambda x: x.split('/')[0] if not pd.isna(x) else np.nan)
  data_file_name['deck_num'] = data_file_name[param_name].map(lambda x: int(x.split('/')[1]) if not pd.isna(x) else np.nan)
  data_file_name['deck_side'] = data_file_name[param_name].map(lambda x: x.split('/')[2] if not pd.isna(x) else np.nan)

def data_function_name(param_name,data_file_name):
  data_file_name['f_name'] = data_file_name[param_name].map(lambda x: x.split()[0] if not pd.isna(x) else np.nan)
  data_file_name['l_name'] = data_file_name[param_name].map(lambda x: x.split()[1] if not pd.isna(x) else np.nan)

In [667]:
data_function('id','PassengerId',X)
data_function('group_no','PassengerId',X)
data_function_cabin("Cabin",X)
data_function_name('Name',X)
X = X.drop(['Name'], axis=1)
X = X.drop(['Cabin'], axis=1)
X = X.drop(['PassengerId'], axis=1)
X.sample(5)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,id,group_no,deck,deck_num,deck_side,f_name,l_name
417,Europa,NaN,55 Cancri e,28.0,True,5.0,4288.0,0.0,745.0,5.0,454,454,B,15.0,S,Tabius,Geoconne
6713,Mars,False,TRAPPIST-1e,62.0,False,453.0,1.0,1911.0,0.0,0.0,7085,7085,F,1466.0,P,Stech,Pread
3928,Mars,True,55 Cancri e,34.0,False,0.0,0.0,0.0,0.0,0.0,4194,4194,F,862.0,P,Oaters,Kité
7991,Europa,False,TRAPPIST-1e,53.0,False,0.0,847.0,NaN,630.0,2060.0,8551,8551,D,257.0,S,Sariton,Disheract
4013,Earth,False,TRAPPIST-1e,24.0,False,0.0,717.0,222.0,8.0,1.0,4274,4274,G,698.0,S,Evey,Kellyons

In [668]:
passenger_backup_list = test_data.PassengerId;
data_function('id','PassengerId',test_data)
data_function('group_no','PassengerId',test_data)
data_function_cabin('Cabin',test_data)
data_function_name('Name',test_data)
test_data = test_data.drop(['Name'], axis=1)
test_data = test_data.drop(['Cabin'], axis=1)
test_data = test_data.drop(['PassengerId'], axis=1)
test_data.sample(5)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,id,group_no,deck,deck_num,deck_side,f_name,l_name
2160,Earth,False,TRAPPIST-1e,23.0,False,6.0,0.0,1.0,783.0,18.0,4687,4687,G,761.0,P,Lynnie,Mejiamsey
4060,Earth,False,55 Cancri e,40.0,False,0.0,575.0,0.0,1.0,1243.0,8837,8837,G,1426.0,S,Stendy,Robley
2276,Mars,False,TRAPPIST-1e,28.0,False,1104.0,0.0,163.0,19.0,61.0,4955,4955,F,1011.0,P,Cin,Erry
3819,Earth,False,TRAPPIST-1e,18.0,False,0.0,52.0,52.0,8.0,1511.0,8359,8359,E,536.0,P,Ellana,Leodger
2448,Europa,False,55 Cancri e,25.0,False,13.0,3209.0,0.0,24.0,330.0,5335,5335,A,49.0,P,Edark,Moring

In [669]:
"""
X['GroupId'] = X['PassengerId'].map(lambda x: int(x.split('_')[0]))
X['NumberInGroup'] = X['PassengerId'].map(lambda x: int(x.split('_')[1]))
X = X.drop(['PassengerId'], axis=1)
X.sample(5)



test_data['GroupId'] = test_data['PassengerId'].map(lambda x: int(x.split('_')[0]))
test_data['NumberInGroup'] = test_data['PassengerId'].map(lambda x: int(x.split('_')[1]))
test_data = test_data.drop(['PassengerId'], axis=1)
test_data.sample(5)
"""

"\nX['GroupId'] = X['PassengerId'].map(lambda x: int(x.split('_')[0]))\nX['NumberInGroup'] = X['PassengerId'].map(lambda x: int(x.split('_')[1]))\nX = X.drop(['PassengerId'], axis=1)\nX.sample(5)\n\n\n\ntest_data['GroupId'] = test_data['PassengerId'].map(lambda x: int(x.split('_')[0]))\ntest_data['NumberInGroup'] = test_data['PassengerId'].map(lambda x: int(x.split('_')[1]))\ntest_data = test_data.drop(['PassengerId'], axis=1)\ntest_data.sample(5)\n"

In [670]:

"""
X['CabinDeck'] = X['Cabin'].map(lambda x: x.split('/')[0] if not pd.isna(x) else np.nan)
X['CabinNum'] = X['Cabin'].map(lambda x: int(x.split('/')[1]) if not pd.isna(x) else np.nan)
X['CabinSide'] = X['Cabin'].map(lambda x: x.split('/')[2] if not pd.isna(x) else np.nan)
X = X.drop(['Cabin'], axis=1)
X.sample(5)




test_data['CabinDeck'] = test_data['Cabin'].map(lambda x: x.split('/')[0] if not pd.isna(x) else np.nan)
test_data['CabinNum'] = test_data['Cabin'].map(lambda x: int(x.split('/')[1]) if not pd.isna(x) else np.nan)
test_data['CabinSide'] = test_data['Cabin'].map(lambda x: x.split('/')[2] if not pd.isna(x) else np.nan)
test_data = test_data.drop(['Cabin'], axis=1)
test_data.sample(5)
"""

"\nX['CabinDeck'] = X['Cabin'].map(lambda x: x.split('/')[0] if not pd.isna(x) else np.nan)\nX['CabinNum'] = X['Cabin'].map(lambda x: int(x.split('/')[1]) if not pd.isna(x) else np.nan)\nX['CabinSide'] = X['Cabin'].map(lambda x: x.split('/')[2] if not pd.isna(x) else np.nan)\nX = X.drop(['Cabin'], axis=1)\nX.sample(5)\n\n\n\n\ntest_data['CabinDeck'] = test_data['Cabin'].map(lambda x: x.split('/')[0] if not pd.isna(x) else np.nan)\ntest_data['CabinNum'] = test_data['Cabin'].map(lambda x: int(x.split('/')[1]) if not pd.isna(x) else np.nan)\ntest_data['CabinSide'] = test_data['Cabin'].map(lambda x: x.split('/')[2] if not pd.isna(x) else np.nan)\ntest_data = test_data.drop(['Cabin'], axis=1)\ntest_data.sample(5)\n"

In [671]:
"""name_lengths = X.Name.map(lambda x: len(list(x.split())) if not pd.isna(x) else -1)
name_lengths.value_counts()"""

'name_lengths = X.Name.map(lambda x: len(list(x.split())) if not pd.isna(x) else -1)\nname_lengths.value_counts()'

In [672]:


"""

X['FirstName'] = X.Name.map(lambda x: x.split()[0] if not pd.isna(x) else np.nan)
X['LastName'] = X.Name.map(lambda x: x.split()[1] if not pd.isna(x) else np.nan)
X = X.drop(['Name'], axis=1)
X.sample(5)

test_data['FirstName'] = test_data.Name.map(lambda x: x.split()[0] if not pd.isna(x) else np.nan)
test_data['LastName'] = test_data.Name.map(lambda x: x.split()[1] if not pd.isna(x) else np.nan)
test_data = test_data.drop(['Name'], axis=1)
test_data.sample(5)
"""

"\n\nX['FirstName'] = X.Name.map(lambda x: x.split()[0] if not pd.isna(x) else np.nan)\nX['LastName'] = X.Name.map(lambda x: x.split()[1] if not pd.isna(x) else np.nan)\nX = X.drop(['Name'], axis=1)\nX.sample(5)\n\ntest_data['FirstName'] = test_data.Name.map(lambda x: x.split()[0] if not pd.isna(x) else np.nan)\ntest_data['LastName'] = test_data.Name.map(lambda x: x.split()[1] if not pd.isna(x) else np.nan)\ntest_data = test_data.drop(['Name'], axis=1)\ntest_data.sample(5)\n"

In [673]:
X = X.fillna({'HomePlanet' : 'Earth', 'CryoSleep': False, 'deck': 'F', 'deck_num': 82, 'deck_side': 'S', \
              'Destination': 'TRAPPIST-1e', 'Age': X.Age.median(), 'VIP': False, 'RoomService': X.RoomService.median(), \
              'FoodCourt': X.FoodCourt.median(), 'ShoppingMall': X.ShoppingMall.median(), 'Spa': X.Spa.median(), 'VRDeck': X.VRDeck.median()})
X.f_name.fillna(random.choice(X.f_name[X.f_name.notna()]), inplace=True)
X.l_name.fillna(random.choice(X.l_name[X.l_name.notna()]), inplace=True)

X.CryoSleep = X.CryoSleep.astype(int)
X.VIP = X.VIP.astype(int)

In [674]:
test_data = test_data.fillna({'HomePlanet' : 'Earth', 'CryoSleep': False, 'deck': 'F', 'deck_num': 82, 'deck_side': 'S', \
              'Destination': 'TRAPPIST-1e', 'Age': X.Age.median(), 'VIP': False, 'RoomService': X.RoomService.median(), \
              'FoodCourt': X.FoodCourt.median(), 'ShoppingMall': X.ShoppingMall.median(), 'Spa': X.Spa.median(), 'VRDeck': X.VRDeck.median()})

test_data.f_name.fillna(random.choice(X.f_name[X.f_name.notna()]), inplace=True)
test_data.l_name.fillna(random.choice(X.l_name[X.l_name.notna()]), inplace=True)

test_data.CryoSleep = test_data.CryoSleep.astype(int)
test_data.VIP = test_data.VIP.astype(int)
y = y.astype(int)

In [675]:
X.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
id              0
group_no        0
deck            0
deck_num        0
deck_side       0
f_name          0
l_name          0
dtype: int64

In [676]:
test_data.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
id              0
group_no        0
deck            0
deck_num        0
deck_side       0
f_name          0
l_name          0
dtype: int64

In [677]:
X = X.replace(r'^\s*$', np.nan, regex=True)

In [678]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [679]:

"""# Random Forest
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier(n_estimators=100)
cat_features_index = np.where(X.dtypes != float)[0]
random_forest_model.fit(X_train, y_train)
Y_pred = random_forest_model.predict(X_test)
random_forest_model.score(X_train, y_train)
acc_random_forest = round(random_forest_model.score(X_train, y_train) * 100, 2)
acc_random_forest
"""

'# Random Forest\nfrom sklearn.ensemble import RandomForestClassifier\nrandom_forest_model = RandomForestClassifier(n_estimators=100)\ncat_features_index = np.where(X.dtypes != float)[0]\nrandom_forest_model.fit(X_train, y_train)\nY_pred = random_forest_model.predict(X_test)\nrandom_forest_model.score(X_train, y_train)\nacc_random_forest = round(random_forest_model.score(X_train, y_train) * 100, 2)\nacc_random_forest\n'

In [680]:

from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score


model_cb = CatBoostClassifier(eval_metric='Accuracy', random_seed=42,iterations=200)
set_cat_features = np.where(X.dtypes != float)[0]

model_cb.fit(X_train, y_train,cat_features=set_cat_features)
y_pred = model_cb.predict(X_test)

Learning rate set to 0.097447
0:	learn: 0.7359080	total: 27.8ms	remaining: 5.53s
1:	learn: 0.7543139	total: 53.6ms	remaining: 5.3s
2:	learn: 0.7562859	total: 88.6ms	remaining: 5.82s
3:	learn: 0.7687757	total: 118ms	remaining: 5.79s
4:	learn: 0.7837305	total: 145ms	remaining: 5.64s
5:	learn: 0.7847165	total: 168ms	remaining: 5.43s
6:	learn: 0.7876746	total: 189ms	remaining: 5.22s
7:	learn: 0.7911257	total: 228ms	remaining: 5.47s
8:	learn: 0.7898110	total: 250ms	remaining: 5.31s
9:	learn: 0.7927691	total: 276ms	remaining: 5.24s
10:	learn: 0.7945768	total: 295ms	remaining: 5.07s
11:	learn: 0.7953985	total: 324ms	remaining: 5.07s
12:	learn: 0.7950698	total: 353ms	remaining: 5.07s
13:	learn: 0.7980279	total: 374ms	remaining: 4.96s
14:	learn: 0.7975349	total: 395ms	remaining: 4.87s
15:	learn: 0.7996713	total: 415ms	remaining: 4.77s
16:	learn: 0.8003287	total: 446ms	remaining: 4.8s
17:	learn: 0.8019721	total: 467ms	remaining: 4.72s
18:	learn: 0.8024651	total: 484ms	remaining: 4.61s
19:	learn: 0.8026294	total: 503ms	remaining: 4.53s
20:	learn: 0.8039441	total: 524ms	remaining: 4.47s
21:	learn: 0.8047658	total: 545ms	remaining: 4.41s
22:	learn: 0.8047658	total: 571ms	remaining: 4.39s
23:	learn: 0.8062449	total: 590ms	remaining: 4.33s
24:	learn: 0.8073952	total: 612ms	remaining: 4.29s
25:	learn: 0.8083813	total: 633ms	remaining: 4.24s
26:	learn: 0.8087099	total: 659ms	remaining: 4.22s
27:	learn: 0.8096960	total: 677ms	remaining: 4.16s
28:	learn: 0.8095316	total: 696ms	remaining: 4.11s
29:	learn: 0.8108463	total: 714ms	remaining: 4.05s
30:	learn: 0.8087099	total: 731ms	remaining: 3.98s
31:	learn: 0.8110107	total: 749ms	remaining: 3.93s
32:	learn: 0.8100247	total: 776ms	remaining: 3.93s
33:	learn: 0.8088743	total: 794ms	remaining: 3.88s
34:	learn: 0.8105177	total: 813ms	remaining: 3.83s
35:	learn: 0.8103533	total: 832ms	remaining: 3.79s
36:	learn: 0.8105177	total: 861ms	remaining: 3.79s
37:	learn: 0.8115037	total: 881ms	remaining: 3.76s
38:	learn: 0.8121611	total: 900ms	remaining: 3.71s
39:	learn: 0.8123254	total: 918ms	remaining: 3.67s
40:	learn: 0.8131471	total: 939ms	remaining: 3.64s
41:	learn: 0.8136401	total: 961ms	remaining: 3.62s
42:	learn: 0.8131471	total: 990ms	remaining: 3.61s
43:	learn: 0.8131471	total: 1.01s	remaining: 3.58s
44:	learn: 0.8131471	total: 1.02s	remaining: 3.51s
45:	learn: 0.8133114	total: 1.04s	remaining: 3.48s
46:	learn: 0.8133114	total: 1.05s	remaining: 3.43s
47:	learn: 0.8144618	total: 1.07s	remaining: 3.4s
48:	learn: 0.8156122	total: 1.09s	remaining: 3.37s
49:	learn: 0.8162695	total: 1.11s	remaining: 3.34s
50:	learn: 0.8164339	total: 1.14s	remaining: 3.32s
51:	learn: 0.8162695	total: 1.16s	remaining: 3.29s
52:	learn: 0.8174199	total: 1.18s	remaining: 3.26s
53:	learn: 0.8174199	total: 1.19s	remaining: 3.23s
54:	learn: 0.8172555	total: 1.21s	remaining: 3.18s
55:	learn: 0.8172555	total: 1.23s	remaining: 3.16s
56:	learn: 0.8179129	total: 1.24s	remaining: 3.1s
57:	learn: 0.8175842	total: 1.24s	remaining: 3.05s
58:	learn: 0.8188989	total: 1.26s	remaining: 3.02s
59:	learn: 0.8192276	total: 1.29s	remaining: 3.01s
60:	learn: 0.8188989	total: 1.31s	remaining: 2.98s
61:	learn: 0.8193919	total: 1.33s	remaining: 2.95s
62:	learn: 0.8185703	total: 1.34s	remaining: 2.92s
63:	learn: 0.8187346	total: 1.36s	remaining: 2.88s
64:	learn: 0.8190633	total: 1.38s	remaining: 2.86s
65:	learn: 0.8203780	total: 1.39s	remaining: 2.83s
66:	learn: 0.8203780	total: 1.41s	remaining: 2.81s
67:	learn: 0.8202136	total: 1.44s	remaining: 2.79s
68:	learn: 0.8208710	total: 1.46s	remaining: 2.76s
69:	learn: 0.8213640	total: 1.47s	remaining: 2.74s
70:	learn: 0.8218570	total: 1.49s	remaining: 2.7s
71:	learn: 0.8216927	total: 1.51s	remaining: 2.69s
72:	learn: 0.8211997	total: 1.53s	remaining: 2.67s
73:	learn: 0.8216927	total: 1.55s	remaining: 2.65s
74:	learn: 0.8216927	total: 1.58s	remaining: 2.63s
75:	learn: 0.8226787	total: 1.6s	remaining: 2.61s
76:	learn: 0.8223500	total: 1.61s	remaining: 2.58s
77:	learn: 0.8230074	total: 1.63s	remaining: 2.55s
78:	learn: 0.8244864	total: 1.65s	remaining: 2.53s
79:	learn: 0.8241578	total: 1.67s	remaining: 2.5s
80:	learn: 0.8241578	total: 1.69s	remaining: 2.48s
81:	learn: 0.8243221	total: 1.71s	remaining: 2.46s
82:	learn: 0.8236647	total: 1.73s	remaining: 2.44s
83:	learn: 0.8243221	total: 1.75s	remaining: 2.42s
84:	learn: 0.8244864	total: 1.77s	remaining: 2.39s
85:	learn: 0.8248151	total: 1.78s	remaining: 2.37s
86:	learn: 0.8238291	total: 1.8s	remaining: 2.34s
87:	learn: 0.8243221	total: 1.82s	remaining: 2.32s
88:	learn: 0.8243221	total: 1.84s	remaining: 2.3s
89:	learn: 0.8254725	total: 1.86s	remaining: 2.27s
90:	learn: 0.8256368	total: 1.88s	remaining: 2.25s
91:	learn: 0.8264585	total: 1.9s	remaining: 2.23s
92:	learn: 0.8276089	total: 1.92s	remaining: 2.21s
93:	learn: 0.8277732	total: 1.94s	remaining: 2.19s
94:	learn: 0.8281019	total: 1.96s	remaining: 2.17s
95:	learn: 0.8274445	total: 1.98s	remaining: 2.14s
96:	learn: 0.8269515	total: 2s	remaining: 2.13s
97:	learn: 0.8272802	total: 2.03s	remaining: 2.11s
98:	learn: 0.8290879	total: 2.04s	remaining: 2.09s
99:	learn: 0.8289236	total: 2.06s	remaining: 2.06s
100:	learn: 0.8287592	total: 2.08s	remaining: 2.04s
101:	learn: 0.8290879	total: 2.1s	remaining: 2.02s
102:	learn: 0.8294166	total: 2.12s	remaining: 2s
103:	learn: 0.8313887	total: 2.14s	remaining: 1.97s
104:	learn: 0.8322104	total: 2.17s	remaining: 1.96s
105:	learn: 0.8327034	total: 2.18s	remaining: 1.94s
106:	learn: 0.8330320	total: 2.2s	remaining: 1.92s
107:	learn: 0.8323747	total: 2.22s	remaining: 1.89s
108:	learn: 0.8330320	total: 2.24s	remaining: 1.87s
109:	learn: 0.8331964	total: 2.27s	remaining: 1.85s
110:	learn: 0.8350041	total: 2.28s	remaining: 1.83s
111:	learn: 0.8353328	total: 2.31s	remaining: 1.81s
112:	learn: 0.8356615	total: 2.32s	remaining: 1.79s
113:	learn: 0.8348398	total: 2.34s	remaining: 1.77s
114:	learn: 0.8368118	total: 2.37s	remaining: 1.75s
115:	learn: 0.8368118	total: 2.39s	remaining: 1.73s
116:	learn: 0.8374692	total: 2.41s	remaining: 1.71s
117:	learn: 0.8358258	total: 2.43s	remaining: 1.69s
118:	learn: 0.8363188	total: 2.45s	remaining: 1.67s
119:	learn: 0.8366475	total: 2.47s	remaining: 1.65s
120:	learn: 0.8369762	total: 2.5s	remaining: 1.63s
121:	learn: 0.8377979	total: 2.52s	remaining: 1.61s
122:	learn: 0.8381265	total: 2.54s	remaining: 1.59s
123:	learn: 0.8382909	total: 2.56s	remaining: 1.57s
124:	learn: 0.8387839	total: 2.58s	remaining: 1.55s
125:	learn: 0.8387839	total: 2.6s	remaining: 1.53s
126:	learn: 0.8402629	total: 2.62s	remaining: 1.51s
127:	learn: 0.8400986	total: 2.64s	remaining: 1.49s
128:	learn: 0.8402629	total: 2.66s	remaining: 1.47s
129:	learn: 0.8396056	total: 2.69s	remaining: 1.45s
130:	learn: 0.8400986	total: 2.71s	remaining: 1.43s
131:	learn: 0.8409203	total: 2.72s	remaining: 1.4s
132:	learn: 0.8412490	total: 2.74s	remaining: 1.38s
133:	learn: 0.8419063	total: 2.76s	remaining: 1.36s
134:	learn: 0.8412490	total: 2.78s	remaining: 1.34s
135:	learn: 0.8422350	total: 2.81s	remaining: 1.32s
136:	learn: 0.8432210	total: 2.83s	remaining: 1.3s
137:	learn: 0.8430567	total: 2.85s	remaining: 1.28s
138:	learn: 0.8437141	total: 2.87s	remaining: 1.26s
139:	learn: 0.8450288	total: 2.89s	remaining: 1.24s
140:	learn: 0.8461791	total: 2.91s	remaining: 1.22s
141:	learn: 0.8461791	total: 2.93s	remaining: 1.2s
142:	learn: 0.8460148	total: 2.94s	remaining: 1.17s
143:	learn: 0.8461791	total: 2.97s	remaining: 1.15s
144:	learn: 0.8466721	total: 3s	remaining: 1.14s
145:	learn: 0.8470008	total: 3.02s	remaining: 1.12s
146:	learn: 0.8468365	total: 3.03s	remaining: 1.09s
147:	learn: 0.8476582	total: 3.05s	remaining: 1.07s
148:	learn: 0.8474938	total: 3.07s	remaining: 1.05s
149:	learn: 0.8481512	total: 3.1s	remaining: 1.03s
150:	learn: 0.8488085	total: 3.11s	remaining: 1.01s
151:	learn: 0.8483155	total: 3.13s	remaining: 989ms
152:	learn: 0.8486442	total: 3.15s	remaining: 967ms
153:	learn: 0.8479869	total: 3.17s	remaining: 946ms
154:	learn: 0.8486442	total: 3.19s	remaining: 925ms
155:	learn: 0.8486442	total: 3.21s	remaining: 905ms
156:	learn: 0.8488085	total: 3.23s	remaining: 884ms
157:	learn: 0.8494659	total: 3.25s	remaining: 864ms
158:	learn: 0.8489729	total: 3.27s	remaining: 843ms
159:	learn: 0.8494659	total: 3.29s	remaining: 822ms
160:	learn: 0.8488085	total: 3.31s	remaining: 802ms
161:	learn: 0.8493016	total: 3.33s	remaining: 781ms
162:	learn: 0.8509449	total: 3.35s	remaining: 760ms
163:	learn: 0.8509449	total: 3.37s	remaining: 740ms
164:	learn: 0.8506163	total: 3.39s	remaining: 719ms
165:	learn: 0.8497946	total: 3.41s	remaining: 699ms
166:	learn: 0.8501233	total: 3.44s	remaining: 679ms
167:	learn: 0.8501233	total: 3.46s	remaining: 658ms
168:	learn: 0.8506163	total: 3.48s	remaining: 638ms
169:	learn: 0.8509449	total: 3.49s	remaining: 617ms
170:	learn: 0.8519310	total: 3.51s	remaining: 596ms
171:	learn: 0.8517666	total: 3.53s	remaining: 575ms
172:	learn: 0.8525883	total: 3.56s	remaining: 556ms
173:	learn: 0.8529170	total: 3.58s	remaining: 534ms
174:	learn: 0.8527527	total: 3.6s	remaining: 514ms
175:	learn: 0.8532457	total: 3.61s	remaining: 493ms
176:	learn: 0.8530813	total: 3.64s	remaining: 473ms
177:	learn: 0.8529170	total: 3.66s	remaining: 452ms
178:	learn: 0.8529170	total: 3.68s	remaining: 431ms
179:	learn: 0.8527527	total: 3.69s	remaining: 410ms
180:	learn: 0.8527527	total: 3.71s	remaining: 390ms
181:	learn: 0.8525883	total: 3.73s	remaining: 369ms
182:	learn: 0.8539030	total: 3.75s	remaining: 349ms
183:	learn: 0.8534100	total: 3.77s	remaining: 328ms
184:	learn: 0.8550534	total: 3.79s	remaining: 307ms
185:	learn: 0.8539030	total: 3.81s	remaining: 287ms
186:	learn: 0.8542317	total: 3.83s	remaining: 266ms
187:	learn: 0.8542317	total: 3.85s	remaining: 246ms
188:	learn: 0.8552177	total: 3.87s	remaining: 226ms
189:	learn: 0.8557108	total: 3.89s	remaining: 205ms
190:	learn: 0.8557108	total: 3.91s	remaining: 184ms
191:	learn: 0.8560394	total: 3.94s	remaining: 164ms
192:	learn: 0.8562038	total: 3.96s	remaining: 144ms
193:	learn: 0.8560394	total: 3.98s	remaining: 123ms
194:	learn: 0.8568611	total: 4s	remaining: 103ms
195:	learn: 0.8568611	total: 4.02s	remaining: 82.1ms
196:	learn: 0.8563681	total: 4.04s	remaining: 61.6ms
197:	learn: 0.8566968	total: 4.07s	remaining: 41.1ms
198:	learn: 0.8571898	total: 4.09s	remaining: 20.5ms
199:	learn: 0.8575185	total: 4.11s	remaining: 0us

In [681]:
accuracy = accuracy_score(y_test, y_pred)
print("The accuracy for the model is: ",accuracy)

The accuracy for the model is:  0.8197852760736196

In [682]:
prediction = model_cb.predict(test_data)
prediction = prediction.astype(bool)
submission = pd.DataFrame({'Transported': prediction}, index=passenger_backup_list)
submission.to_csv('output.csv')